body {
  margin: 0;
  background: linear-gradient(135deg, #5232c5, #322538);
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  width: 100%;
  background: #5A31F4;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 6px;
  font-weight: bold;
}

.toggle-form {
  margin-top: 1rem;
  font-size: 0.9em;
}

.toggle-form a {
  color: #5A31F4;
  text-decoration: none;
  font-weight: bold;
}

.toggle-form a:hover {
  text-decoration: underline;
}

#registerForm {
  display: none;
}



