body {
  margin: 0;
  background: #F7F7F7;
  font-family: sans-serif;
  color: #2E2E2E;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding-top: 72px;
}

.login {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
  color: #2E2E2E;
}

button {
  width: 100%;
  background: #5A31F4;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 6px;
  font-weight: bold;
}

.toggle-form {
  margin-top: 1rem;
  font-size: 0.9em;
}

.toggle-form a {
  color: #5A31F4;
  text-decoration: none;
  font-weight: bold;
}

.toggle-form a:hover {
  text-decoration: underline;
}

#registerForm {
  display: none;
}

